name: Publish GitHub pages


on:
  push:
    branches:
      - master

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:

  build:
    container: isciences/exactextract-test-env:geos312
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install system dependencies
      run: |
        apt-get update
        apt-get install -y pandoc

    - name: install python dependencies
      run: pip3 install --upgrade -r python/doc/requirements.txt

    - name: configure
      run: |
        mkdir build
        cd build
        cmake -DBUILD_CLI=NO -DBUILD_PYTHON=YES ..

    - name: build
      run: |
        cd build
        cmake --build . --target python_html

    - name: upload docs
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./build/python/html

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@v4
