name: Python package build

on:
  - push
  - pull_request


defaults:
  run:
    shell: bash -l {0}

jobs:

  build:
    name: Build ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.10', '3.11']

    steps:
    - uses: actions/checkout@v3

    - name: Setup conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        environment-file: .github/python_test_env.yml

    - name: Install
      working-directory: ./python
      run: pip install . -v

    - name: Test
      run: pytest python/tests
      

